
<% unless result["mobile_link"] %>
    <h3 class='title'>
        <%= render partial: "/quick_search/search/result_title", locals: { link: result['link'], title: result['title'], date: result['date'], date_icon: result.display_date } %>
    </h3>
<% else %>
    <h3 class='title show-for-medium-up'>
        <%= render partial: "/quick_search/search/result_title", locals: { link: result['link'], title: result['title'], date: result['date'],date_icon: result.display_date } %>
    </h3>
    <h3 class='title show-for-small-only'>
        <%= render partial: "/quick_search/search/result_title", locals: { link: result['mobile_link'], title: result['title'], date: result['date'], date_icon: result.display_date } %>
    </h3>
<% end %>
<p class='link'><%= result["link"] %></p>

<% if result["author"]%>
    <% author = result["author"].html_safe %>
<% end %>

<p class='author'><%=  truncate(author, length: 80, separator: '; ') %></p>

<% if result.citation %>
    <p class="citation">
        <%= render partial: '/quick_search/search/citation', locals: {:result => result} %>
    </p>
<% end %>

<% if result["description"] %>
    <div class='description'>
        <p class='description-truncated'>
            <%= truncate(result["description"].html_safe, length: 200, :escape => false) %>

            <% if result["description"].length > 200 %>
                <%= link_to 'Read more', '#', class: "read-more" %>
            <% end %>
        </p>
        <p class='description-full'>
            <%= result["description"].html_safe %>
            <%= link_to 'Read less', '#', class: "read-less" %>
        </p>
    </div>
<% end %>

<p class='format'><%= result["format"] %>
  <% if result['fulltext'] %>&nbsp;|&nbsp;
    <%= link_to result["link"], {:class => ''} do %>
      Full&nbsp;Text&nbsp;Online
    <% end %>
  <% end %>
</p>

<p>
    <% if result['availability'] %>
        <% if result["availability"] == "Available" %>
            <span class='availability available' title='Available'><i class='fa fa-check'></i></span>
        <% else %>
            <span class='availability unavailable' title='Not Available'><i class='fa fa-times'></i></span>
        <% end %>
    <% end %>

    <% if result['location'] %>
        <span class='location'><%= result['location'] %></span>
    <% end %>
</p>
