<% content_for :head do %>
  <script>
    // Define routes before loading scripts that use them
    window.QuickSearchRoutes = {
      dataGeneralStatistics: '<%= QuickSearch::Engine.routes.url_helpers.data_general_statistics_path %>',
      dataGeneralTable: '<%= QuickSearch::Engine.routes.url_helpers.data_general_table_path %>'
    };
  </script>
  <script src="<%= asset_path('quick_search/appstats.js') %>" data-turbo-track="reload"></script>
  <script src="<%= asset_path('quick_search/appstats_general_statistics.js') %>" data-turbo-track="reload"></script>
<% end %>
<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: 'menu' %>
    <div class="medium-8 columns">
        <h2>General Statistics</h2>
        <%= render partial: 'graph_general_statistics'  %>
    </div>
    <%= render partial: "date_range" %>
</div>

