<% title("#{@page_title} | ") %>
<div class="row">
    <%= render partial: "menu" %>
    <div class="medium-8 columns">
        <h1> Sessions Details </h1>
        <%= @sessions_location %>
        <%= Vega.render(@location_spec)%>
        <%= Vega.render(@device_spec) %>
    </div>
    <%= render partial: "date_range" %>
</div>