<% content_for :head do %>
  <script>
    window.QuickSearchRoutes = {
      data_sessions_location: '<%= QuickSearch::Engine.routes.url_helpers.data_sessions_location_path %>',
      data_sessions_device: '<%= QuickSearch::Engine.routes.url_helpers.data_sessions_device_path %>'
    };
  </script>
  <script src="<%= asset_path('quick_search/appstats.js') %>" data-turbo-track="reload"></script>
  <script src="<%= asset_path('quick_search/appstats_sessions_details.js') %>" data-turbo-track="reload"></script>
<% end %>
<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: "menu" %>
    <div class="medium-8 columns">
        <%= render partial: 'graph_sessions_details' %>
    </div>
    <%= render partial: "date_range" %>
</div>