<% content_for :head do %>
  <script>
    window.QuickSearchRoutes = {
      data_top_searches: '<%= QuickSearch::Engine.routes.url_helpers.data_top_searches_path %>'
    };
  </script>
  <script src="<%= asset_path('appstats/appstats.js') %>" data-turbo-track="reload"></script>
  <script src="<%= asset_path('appstats/appstats_top_searches.js') %>" data-turbo-track="reload"></script>
<% end %>
<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: "menu" %>
    <div class="medium-8 columns">
        <%= render partial: 'graph_top_searches' %>
    </div>
    <%= render partial: "date_range" %>
</div>