<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title><%= content_for(:title) %></title>
    <meta content="ie=edge, chrome=1" http-equiv="x-ua-compatible" />
    <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_path %>" title="<%= t('opensearch_description') %>" />
    <!-- css -->
    <%= stylesheet_link_tag 'application' %>

    <!-- Load JavaScript libraries from CDN -->
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.2/jquery-ui.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.2/themes/base/jquery-ui.min.css">
    
    <!-- D3 and Lodash for charts/graphs -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    
    <!-- Turbo for navigation -->
    <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.4/dist/turbo.es2017-esm.min.js" type="module"></script>
    
    <%= yield :head %>
    <%= render '/layouts/quick_search/head' %>
    <%= render '/layouts/quick_search/google_analytics' %>
</head>
<body class="<%= body_class %>" data-quicksearch-ga-query="<%= strip_tags(@log_query) %>">
<div class="off-canvas-wrap">
<div class="inner-wrap">
<%= render '/layouts/quick_search/header' %>
<div id="content" role="document" class="page">
    <main id="main-content" role="main" class="row l-main">
        <div class="medium-12 main columns">
            <!-- CONTENT: enter content below this line -->
            <div id="quicksearch">
            <%= yield %>
            </div>
        </div>
    </main>
</div>
<%= render '/layouts/quick_search/footer' %>
</div>
</div>
<script type="text/javascript">
    window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %>
</script>
</body>
</html>
